<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Study Abroad</title>
        <%- style %>
    </head>
    <script>
        
    </script>
    <body>
        <div class="welcome-container">
            <div class="welcome-title">
                <h1><%- greeting %>!</h1>
                <h2>Learn more about <span><%- location %></span>.</h2>
            </div>
            <div>
                <h3>Information</h3>
                <div class="triva">
                    <%- trivia %>
                </div>
            </div>
            <div>
                <h3>Students who are also going to <%- location %></h3>
                <table class="studentTable">
                    <tr>
                        <th>Name</th><th>Destination</th><th>Semester</th>
                    </tr>
                    <%- table %>
                </table>
            </div>
        </div>
    </body>
</html>